In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('./강의자료/mtcars.csv')
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [17]:
q1 = df['mpg'].quantile(.25)
print(np.round(q1,0))

15.0

In [14]:
cond1 = df['mpg'] >= 19
cond2 = df['mpg'] <= 21

In [18]:
len(df[cond1 & cond2])

5

In [19]:
q1 = df['hp'].quantile(.25)
q3 = df['hp'].quantile(.75)

In [20]:
iqr = q3-q1
iqr

83.5

In [28]:
wt = df.sort_values('wt',ascending=False).head(10).loc[:,'wt'].sum()
print(np.floor(wt))

42.0

In [35]:
df = pd.read_csv('./강의자료/mtcars.csv')
df.value_counts('cyl')
np.round(len(df[df['cyl']== 6])/len(df), 1)

0.2

In [40]:
np.round(df.head(10)['mpg'].mean())

20.0

In [44]:
df.head(len(df)//2)['wt'].median()

3.44

In [54]:
df=pd.DataFrame( {
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20230503', '20230505'],
   '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [56]:
df.isnull().sum().sum()

5

In [87]:
import pandas as pd
import numpy as np

df=pd.DataFrame( {
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20230503', '20230505'],
'제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

#	문제	10
#	판매수 컬럼에 결측치가 있는 행을 제거하고,
#	첫번째 행부터 순서대로	50%까지의 데이터를 추출하여
#	판매수 변수의	Q1(제1사분위수)값을 반올림하여 정수로 출력하시오.	

a = df['판매수'].dropna()
len(a)
b = a.head(len(a)//2)
round(b.quantile(.25))

5

In [96]:
# 문제 11
df = pd.read_csv('./강의자료/mtcars.csv')
df.head()

#	문제	11
#	cyl가	4인 자동차와	6인 자동차 그룹의	mpg	평균값 차이를 절대값으로 반올림하여 정수로 출력하시오.

cyl_cond = df['cyl'] == 4
cyl_cond2 = df['cyl'] == 6

In [104]:
a = df[cyl_cond]['mpg'].mean()
b = df[cyl_cond2]['mpg'].mean()
round(abs(a-b))

7

In [120]:
#	문제	12
#	hp	변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오.
#	(단,	이상치는	Z값이	1.5를 초과하거나	-1.5	미만인 값이다)
_mean = df['hp'].mean()
_std = df['hp'].std()
df['hp_z'] = (df['hp'] - _mean) / _std
abnormal1 =  df['hp_z'] > 1.5
abnormal2 = df['hp_z'] < -1.5

In [121]:
len(df['hp_z'][abnormal1 | abnormal2])

2

In [139]:
#	문제	13
#	mpg	컬럼을 최소최대	Scaling을 진행한 후	0.7보다 큰 값을 가지는 레코드 수를 구하라.
mpg_min =  df['mpg'].min()
mpg_max = df['mpg'].max()

df['mpg_mx'] = (df['mpg'] - mpg_min) / (mpg_max - mpg_min)
cond = df['mpg_mx'] > 0.7
len(df[cond])

5

In [148]:
#	문제	14
#	wt컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오
q3 = df['wt'].quantile(.75)
q1 = df['wt'].quantile(.25)
iqr = q3-q1

upper = q3 + 1.5 * iqr
lower = q1 - 1.5 * iqr

cond1 = df['wt'] > upper
cond2 = df['wt'] < lower



print(len(df[cond1 | cond2]))

3

In [160]:
#	문제	15
#	판매수 컬럼의 결측치를 최소값으로 대체하고
#	결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값으로 반올림하여 정수로 출력하시오

df=pd.DataFrame( {
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20230503', '20230505'],
   '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

sell_mean1 = df['판매수'].mean()

print(df.isnull().sum())

sell_min = df['판매수'].min()
df['판매수'] = df['판매수'].fillna(sell_min)

print(df.isnull().sum())

sell_mean2 = df['판매수'].mean()

print(round(abs(sell_mean1 - sell_mean2)))

날짜      1
제품      2
판매수     2
개당수익    0
dtype: int64
날짜      1
제품      2
판매수     0
개당수익    0
dtype: int64
2

In [171]:
#	문제	16
#	vs변수가	0이 아닌 차량 중에	mpg	값이 가장 큰 차량의	hp	값을 출력하시오.	

df = pd.read_csv('./강의자료/mtcars.csv')
df.head()

cond1 = df['vs'] != 0
a = df[df['mpg']==df[cond1]['mpg'].max()]['hp']
print(a.iloc[0])

65

In [179]:
#	문제	17
#	gear	변수값이	3,	4인 두 그룹의	hp	표준편차값의 차이를 절대값으로
#	반올림하여 소수점 첫째자리까지 출력하시오.

df = pd.read_csv('./강의자료/mtcars.csv')

cond1 = df['gear'] == 3
cond2 = df['gear'] == 4

std1 = df[cond1]['hp'].std()
std2 = df[cond2]['hp'].std()

print(round(abs(std1-std2), 1))

21.8

In [197]:
#	문제	18
#	gear	변수의 값별로 그룹화하여	mpg평균값을 산출하고
#	평균값이 높은 그룹의	mpg	제3사분위수 값을 구하시오.
df = pd.read_csv('./강의자료/mtcars.csv')

cond = df['gear'] == df.groupby('gear').mean()['mpg'].sort_values(ascending=False).index[0]
df[cond]['mpg'].quantile(.75)

C:\Users\newny\AppData\Local\Temp\ipykernel_10476\2579831243.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cond = df['gear'] == df.groupby('gear').mean()['mpg'].sort_values(ascending=False).index[0]

28.075

In [259]:
#	문제	19
#	hp	항목의 상위	7번째 값으로 상위	7개 값을 변환한 후,
#	hp가	150	이상인 데이터를 추출하여	hp의 평균값을 반올림하여 정수로 출력하시오.

df=pd.read_csv("./강의자료/mtcars.csv")
_7th = df['hp'].sort_values(ascending=False).head(7).iloc[-1] # 205

df['hp'] = np.where(df['hp'] >= _7th, _7th, df['hp'])

cond = df['hp'] >= 150
round(df[cond]['hp'].mean())

187

In [261]:
# 문제 20 
# car 변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 반올림하여 정수로 출력하시오. 
df = pd.read_csv("./강의자료/mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [266]:
cond = df['car'].str.contains('Merc')
round(df[cond]['mpg'].mean())

19

In [286]:
# 문제 21 
# '22 년 1 분기 매출액을 구하시오 
# ( 매출액 = 판매수* 개당수익)

df=pd.DataFrame( {
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20230503', '20230505'],
   '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })


df['날짜'] = pd.to_datetime(df['날짜'])
df.info()

cond = df['날짜'].between('20220101', '20220331')

df['매출액'] = df['판매수'] * df['개당수익']
df[cond]['매출액'].sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      11 non-null     datetime64[ns]
 1   제품      10 non-null     object
 2   판매수     10 non-null     float64
 3   개당수익    12 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 516.0+ bytes

9900.0

In [292]:
df=pd.DataFrame( {
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
df

          날짜 제품  판매수  개당수익
0   20220103  A    3   300
1   20220105  B    5   400
2   20230105  A    5   500
3   20230127  B   10   600
4   20220203  A   10   400
5   20220205  B   10   500
6   20230210  A   15   500
7   20230223  B   15   600
8   20230312  A   20   600
9   20230422  B   25   700
10  20220505  A   30   600
11  20230511  A   40   600

In [304]:
#	문제	22
#	'22년과	'23년의 총 매출액 차이를 절대값으로 구하시오.	
#	(매출액	=	판매수*개당수익)

df['날짜'] = pd.to_datetime(df['날짜'])
year2022 = df['날짜'].between('2022-01-01', '2022-12-31')
year2023 = df['날짜'].between('2023-01-01', '2023-12-31')

df['매출액'] = df['판매수'] * df['개당수익']
abs(df[year2022]['매출액'].sum() - df[year2023]['매출액'].sum())

48600

In [332]:
#	문제	23
#	'23년 총 매출액이 큰 제품의	23년 판매수를 구하시오.
#	(매출액	=	판매수*개당수익)

df=pd.DataFrame( {
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['매출액'] = df['판매수'] * df['개당수익']

df['날짜'] = pd.to_datetime(df['날짜'])
cond = df['날짜'].between('20230101', '20231231')
df[cond].groupby('제품').sum().sort_values('매출액', ascending=False).iloc[0]['판매수'] # A

C:\Users\newny\AppData\Local\Temp\ipykernel_10476\722792683.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[cond].groupby('제품').sum().sort_values('매출액', ascending=False).iloc[0]['판매수'] # A

80

In [339]:
#	문제	24
#	매출액이	4천원 초과,	1만원 미만인 데이터 수를 출력하시오.	
#	(매출액	=	판매수*개당수익)

df=pd.DataFrame( {
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

# 1. 매출액 4천원 초과
# 2. 매출액 1만원 미만
# 3. 데이터 수를 구하라

df['매출액'] = df['판매수'] * df['개당수익']

cond1 = df['매출액'] > 4000
cond2 = df['매출액'] < 10000

len(df[cond1 & cond2])

4

In [349]:
#	문제	25
#	23년	9월	24일	16:00~22:00	사이에 전체 제품의 판매수를 구하시오.	
#	시간 데이터 만들기(수정금지)
df	=	pd.DataFrame( {
				'물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
				'판매수': [5, 10, 15, 15, 20, 25, 40],
				'개당수익': [500, 600, 500, 600, 600, 700, 600] })
time	=	pd.date_range('2023-09-24	12:25:00','2023-09-25	14:45:30',	periods= 7)
df['time']=time
df	=	df[ ['time','물품','판매수','개당수익']]

df['time'] = pd.to_datetime(df['time'])
df[df['time'].between('2023-09-24 16:00:00', '2023-09-24 22:00:00')]['판매수'].sum()

25

In [355]:
#	문제	26
#	9월	25일	00:00~12:00	까지의	B물품의 매출액 총합을 구하시오.
#	(매출액	=	판매수*개당수익)
#	시간 데이터 만들기(수정금지)
df	=	pd.DataFrame( {
				'물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
				'판매수': [5, 10, 15, 15, 20, 25, 40],
				'개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] =	pd.date_range('2023-09-24	12:25:00','2023-09-25	14:45:30',	periods= 7)
df	=	df[ ['time','물품','판매수','개당수익'] ]
df	=	df.set_index('time',	drop=True)
df

df = df.reset_index()
df['time'].between('2023-09-25 00:00:00', '2023-09-25 12:00:00')

                 time 물품  판매수  개당수익
0 2023-09-24 12:25:00  A    5   500
1 2023-09-24 16:48:25  B   10   600
2 2023-09-24 21:11:50  A   15   500
3 2023-09-25 01:35:15  B   15   600
4 2023-09-25 05:58:40  A   20   600
5 2023-09-25 10:22:05  B   25   700
6 2023-09-25 14:45:30  A   40   600