In [1]:
###############		실기환경 복사 영역		###############
import	pandas	as	pd
import	numpy	as	np
#	실기 시험 데이터셋으로 셋팅하기	(수정금지)
from	sklearn.datasets	import	load_iris
#	Iris	데이터셋을 로드
iris	=	load_iris()
x	=	pd.DataFrame(iris.data,	columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
y	=	iris.target			#	'setosa'=0,	'versicolor'=1,	'virginica'=2
y	=	np.where(y>0, 1, 0) #	setosa	종은	0,	나머지 종은	1로 변경
#	실기 시험 데이터셋으로 셋팅하기	(수정금지)
from	sklearn.model_selection	import	train_test_split
x_train,	x_test,	y_train,	y_test	=	train_test_split(x,	y,	test_size=0.2,
																																																				stratify=y,
																																																				random_state=2023)
x_test	=	pd.DataFrame(x_test)
x_train	=	pd.DataFrame(x_train)
y_train	=	pd.DataFrame(y_train)
y_train.columns	= ['species']
#	결측치 삽입
x_test['sepal_length'].iloc[0] = None		
x_train['sepal_length'].iloc[0] = None
#	이상치 삽입
x_train['sepal_width'].iloc[0] = 150
###############		실기환경 복사 영역		###############

In [2]:
x_test.describe().T

              count      mean       std  min    25%   50%    75%  max
sepal_length   29.0  5.596552  0.709367  4.6  5.000  5.50  5.900  7.6
sepal_width    30.0  3.000000  0.522593  2.0  2.625  3.00  3.300  4.2
petal_length   30.0  3.523333  1.631518  1.0  1.600  4.05  4.925  6.6
petal_width    30.0  1.090000  0.685490  0.1  0.350  1.15  1.575  2.3

In [3]:
x_train.describe().T

              count      mean        std  min    25%   50%    75%    max
sepal_length  119.0  5.920168   0.841667  4.3  5.150  6.00  6.500    7.9
sepal_width   120.0  4.295000  13.419100  2.2  2.800  3.00  3.400  150.0
petal_length  120.0  3.816667   1.798848  1.1  1.575  4.40  5.225    6.9
petal_width   120.0  1.226667   0.780512  0.1  0.300  1.35  1.800    2.5

In [4]:
print(x_test.info())
print(x_train.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 93 to 55
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  29 non-null     float64
 1   sepal_width   30 non-null     float64
 2   petal_length  30 non-null     float64
 3   petal_width   30 non-null     float64
dtypes: float64(4)
memory usage: 1.2 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 2 to 44
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  119 non-null    float64
 1   sepal_width   120 non-null    float64
 2   petal_length  120 non-null    float64
 3   petal_width   120 non-null    float64
dtypes: float64(4)
memory usage: 4.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   species  120 non-null    int32
dtypes: int32(1)
memory usage: 612.0 bytes
None

In [5]:
x_train.head()

     sepal_length  sepal_width  petal_length  petal_width
2             NaN        150.0           1.3          0.2
49            5.0          3.3           1.4          0.2
66            5.6          3.0           4.5          1.5
118           7.7          2.6           6.9          2.3
138           6.0          3.0           4.8          1.8

In [6]:
y_train.head()

   species
0        0
1        0
2        1
3        1
4        1

In [7]:
x_test.head()

     sepal_length  sepal_width  petal_length  petal_width
93            NaN          2.3           3.3          1.0
69            5.6          2.5           3.9          1.1
137           6.4          3.1           5.5          1.8
43            5.0          3.5           1.6          0.6
60            5.0          2.0           3.5          1.0

In [8]:
# 1. 전처리
print(x_train.isnull().sum())
print(y_train.isnull().sum())
print(x_test.isnull().sum())

sepal_length    1
sepal_width     0
petal_length    0
petal_width     0
dtype: int64
species    0
dtype: int64
sepal_length    1
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

In [9]:
x_train['sepal_length'] = x_train['sepal_length'].fillna(x_train['sepal_length'].median())
x_test['sepal_length'] = x_test['sepal_length'].fillna(x_test['sepal_length'].median())

In [10]:

print(x_train.isnull().sum())
print(y_train.isnull().sum())
print(x_test.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64
species    0
dtype: int64
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

In [11]:
# 2. train, val 분류
from sklearn.model_selection import train_test_split
x_train, x_val = train_test_split(x_train, test_size = 0.2, random_state=2000)
y_train, y_val = train_test_split(y_train, test_size= 0.2, random_state=2000)

In [12]:
y_train.info()
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 117 to 54
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   species  96 non-null     int32
dtypes: int32(1)
memory usage: 1.1 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 1 to 133
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  96 non-null     float64
 1   sepal_width   96 non-null     float64
 2   petal_length  96 non-null     float64
 3   petal_width   96 non-null     float64
dtypes: float64(4)
memory usage: 3.8 KB

In [13]:
# 학습
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train)

C:\Users\newny\AppData\Local\Temp\ipykernel_14064\2045475887.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier()

In [25]:
# 성능평가
y_pred = model.predict(x_val)

In [26]:
print(y_pred.shape)
print(y_val.shape)

(24,)
(24, 1)

In [27]:
from sklearn.metrics import accuracy_score, f1_score, recall_score, roc_auc_score
score = accuracy_score(y_val, y_pred)
score

1.0

In [30]:
roc_auc_score(y_val, y_pred)

1.0