In [1]:
import	pandas	as	pd
import	numpy	as	np

In [2]:
###############		실기환경 복사 영역		###############
#	데이터 불러오기
import	pandas	as	pd
import	numpy	as	np
#	실기 시험 데이터셋으로 셋팅하기	(수정금지)
from	sklearn.datasets	import	load_diabetes
#	diabetes	데이터셋 로드
diabetes	=	load_diabetes()
x	=	pd.DataFrame(diabetes.data,	columns=diabetes.feature_names)
y	=	pd.DataFrame(diabetes.target)
y.columns	= ['target']
###############		실기환경 복사 영역		###############

In [4]:
x.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [5]:
y.head()

   target
0   151.0
1    75.0
2   141.0
3   206.0
4   135.0