In [13]:
###############		복사 영역		###############
#	실기 시험 데이터셋으로 셋팅하기	(수정금지)
#	Seaborn의 내장 타이타닉 데이터셋을 불러옵니다.
import	seaborn	as	sns
import	pandas	as	pd
import	numpy	as	np

df	=	sns.load_dataset('titanic')
x	=	df.drop('survived',	axis=1)
y	=	df['survived']
#	실기 시험 데이터셋으로 셋팅하기	(수정금지)
from	sklearn.model_selection	import	train_test_split
x_train,	x_test,	y_train,	y_test	=	train_test_split(x,	y,	test_size=0.2,
																																																				stratify=y,
																																																				random_state=2023)
x_test	=	pd.DataFrame(x_test)
x_train	=	pd.DataFrame(x_train)
y_train	=	pd.DataFrame(y_train)
y_test	=	pd.DataFrame(y_test) #	평가용
x_test.reset_index()
y_train.columns	= ['target']
y_test.columns	= ['target']
###############		복사 영역		###############
###	참고사항	###	
#	y_test	는 실기 문제상에 주어지지 않음
#	★Tip	:	X를 대문자로 쓰지말고 소문자	x로 쓰세요.	시험에서 실수하기 쉽습니다.(문제풀기 전에 소문자로 변경!)
#	(참고	:	보통	X는	2차원 배열(행렬)이기 때문에 대문자로 쓰고,	y는	1차원 배열(벡터)이기 때문에 소문자로 씀)
#	(~23년	10월말)	실기시험 데이터 형식	(실제 시험장에서는 다를 수 있으니 반드시 체크)	
#	X_test	=	pd.read_csv("data/X_test.csv")
#	X_train	=	pd.read_csv("data/X_train.csv")
#	y_train	=	pd.read_csv("data/y_train.csv")
#	★(23년	10월말~)	기준으로 체험환경에서 제공되는 데이터셋이 조금 변경되었습니다.	
#	train	=	pd.read_csv("data/customer_train.csv")
#	test	=	pd.read_csv("data/customer_test.csv")
#	x_train과	y_train,	x_test를 별도로 할당해주셔야 합니다.

In [14]:
#	x_train	과	x_test	데이터의 기초통계량을 잘 비교해보세요.	
print(x_train.describe().T)		#	x_train.describe().T	둘중에 편한거 사용하세요
print(x_test.describe().T)
print(y_train.describe().T)

        count       mean        std   min      25%      50%     75%       max
pclass  712.0   2.307584   0.834926  1.00   2.0000   3.0000   3.000    3.0000
age     579.0  29.479568  14.355304  0.42  20.0000  28.0000  38.000   74.0000
sibsp   712.0   0.518258   1.094522  0.00   0.0000   0.0000   1.000    8.0000
parch   712.0   0.372191   0.792341  0.00   0.0000   0.0000   0.000    6.0000
fare    712.0  31.741836  45.403910  0.00   7.8958  14.4542  31.275  512.3292
        count       mean        std  min     25%   50%      75%       max
pclass  179.0   2.312849   0.842950  1.0   2.000   3.0   3.0000    3.0000
age     135.0  30.640741  15.258427  1.0  22.000  29.0  39.0000   80.0000
sibsp   179.0   0.541899   1.137797  0.0   0.000   0.0   1.0000    8.0000
parch   179.0   0.418994   0.859760  0.0   0.000   0.0   0.0000    5.0000
fare    179.0  34.043364  64.097184  0.0   7.925  14.5  30.2854  512.3292
        count      mean       std  min  25%  50%  75%  max
target  712.0  0.383427  0.486563  0.0  0.0  0.0  1.0  1.0

In [4]:
x_train	=	x_train.drop(['class', 'embark_town', 'alive', 'deck'],	axis=1)
x_test	=	x_test.drop(['class', 'embark_town', 'alive', 'deck'],	axis=1)

In [15]:
#	결측치 대체
#	x_train(712,14)	:	age(133),	embarked(2)
#	x_test(179,14)	:	age(44)
#	age	변수
med_age	=	x_train['age'].median()
x_train['age'] =	x_train['age'].fillna(med_age)
x_test['age'] =	x_test['age'].fillna(med_age)		#	train	data의 중앙값으로
#	embarked
mode_et	=	x_train['embarked'].mode()
x_train['embarked'] =	x_train['embarked'].fillna(mode_et[0])		#	최빈값	[0]	주의

In [16]:
#	변수처리	(원핫인코딩)
x_train	=	pd.get_dummies(x_train)
x_test	=	pd.get_dummies(x_test)
print(x_train.info())
print(x_test.info())
#	advanced	버전 사용
x_train_ad	=	x_train.copy()
x_test_ad	=	x_test.copy()
y_train_ad	=	y_train.copy()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 3 to 608
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   pclass                   712 non-null    int64
 1   age                      712 non-null    float64
 2   sibsp                    712 non-null    int64
 3   parch                    712 non-null    int64
 4   fare                     712 non-null    float64
 5   adult_male               712 non-null    bool
 6   alone                    712 non-null    bool
 7   sex_female               712 non-null    uint8
 8   sex_male                 712 non-null    uint8
 9   embarked_C               712 non-null    uint8
 10  embarked_Q               712 non-null    uint8
 11  embarked_S               712 non-null    uint8
 12  class_First              712 non-null    uint8
 13  class_Second             712 non-null    uint8
 14  class_Third              712 non-null    uint8
 15  who_child                712 non-null    uint8
 16  who_man                  712 non-null    uint8
 17  who_woman                712 non-null    uint8
 18  deck_A                   712 non-null    uint8
 19  deck_B                   712 non-null    uint8
 20  deck_C                   712 non-null    uint8
 21  deck_D                   712 non-null    uint8
 22  deck_E                   712 non-null    uint8
 23  deck_F                   712 non-null    uint8
 24  deck_G                   712 non-null    uint8
 25  embark_town_Cherbourg    712 non-null    uint8
 26  embark_town_Queenstown   712 non-null    uint8
 27  embark_town_Southampton  712 non-null    uint8
 28  alive_no                 712 non-null    uint8
 29  alive_yes                712 non-null    uint8
dtypes: bool(2), float64(2), int64(3), uint8(23)
memory usage: 50.8 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 800 to 410
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   pclass                   179 non-null    int64
 1   age                      179 non-null    float64
 2   sibsp                    179 non-null    int64
 3   parch                    179 non-null    int64
 4   fare                     179 non-null    float64
 5   adult_male               179 non-null    bool
 6   alone                    179 non-null    bool
 7   sex_female               179 non-null    uint8
 8   sex_male                 179 non-null    uint8
 9   embarked_C               179 non-null    uint8
 10  embarked_Q               179 non-null    uint8
 11  embarked_S               179 non-null    uint8
 12  class_First              179 non-null    uint8
 13  class_Second             179 non-null    uint8
 14  class_Third              179 non-null    uint8
 15  who_child                179 non-null    uint8
 16  who_man                  179 non-null    uint8
 17  who_woman                179 non-null    uint8
 18  deck_A                   179 non-null    uint8
 19  deck_B                   179 non-null    uint8
 20  deck_C                   179 non-null    uint8
 21  deck_D                   179 non-null    uint8
 22  deck_E                   179 non-null    uint8
 23  deck_F                   179 non-null    uint8
 24  deck_G                   179 non-null    uint8
 25  embark_town_Cherbourg    179 non-null    uint8
 26  embark_town_Queenstown   179 non-null    uint8
 27  embark_town_Southampton  179 non-null    uint8
 28  alive_no                 179 non-null    uint8
 29  alive_yes                179 non-null    uint8
dtypes: bool(2), float64(2), int64(3), uint8(23)
memory usage: 12.8 KB
None

In [17]:
#	데이터를 훈련 세트와 검증용 세트로 분할	(80%	훈련,	20%	검증용)
from	sklearn.model_selection	import	train_test_split
x_train,	x_val,	y_train,	y_val	=	train_test_split(x_train, y_train, test_size=0.2)
print(x_train.shape)
print(x_val.shape)
print(y_train.shape)
print(y_val.shape)

(569, 30)
(143, 30)
(569, 1)
(143, 1)

In [18]:
#	랜덤포레스트 모델 사용		(참고	:	회귀모델은	RandomForestRegressor)
from	sklearn.ensemble	import	RandomForestClassifier
model	=	RandomForestClassifier(random_state=2023)
model.fit(x_train,	y_train)

C:\Users\newny\AppData\Local\Temp\ipykernel_19584\745544701.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,	y_train)

RandomForestClassifier(random_state=2023)

In [19]:
#	모델을 사용하여 테스트 데이터 예측
y_pred	=	model.predict(x_val)

In [20]:
#	모델 성능 평가	(정확도,	F1	score,	민감도,	특이도 등)
from	sklearn.metrics	import	accuracy_score,	f1_score,	roc_auc_score,	recall_score,	precision_score
acc	=	accuracy_score(y_val,	y_pred)				#	(실제값,	예측값)
f1	=	f1_score(y_val,	y_pred)											#	(실제값,	예측값)
auc	=	roc_auc_score(y_val,	y_pred)					#	(실제값,	예측값)

In [21]:
acc, f1, auc

(1.0, 1.0, 1.0)

In [99]:
x_train.head()

,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
3,1,female,35.0,1,0,53.10,S,First,woman,False,C,Southampton,yes,False
517,3,male,NaN,0,0,24.15,Q,Third,man,True,NaN,Queenstown,no,True
861,2,male,21.0,1,0,11.50,S,Second,man,True,NaN,Southampton,no,False
487,1,male,58.0,0,0,29.70,C,First,man,True,B,Cherbourg,no,True
58,2,female,5.0,1,2,27.75,S,Second,child,False,NaN,Southampton,yes,False

In [100]:
y_train.head()

     target
3         1
517       0
861       0
487       0
58        1

In [101]:
x_train.shape, y_train.shape, x_test.shape

((712, 14), (712, 1), (179, 14))

In [102]:
x_train.info()
y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 3 to 608
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pclass       712 non-null    int64
 1   sex          712 non-null    object
 2   age          579 non-null    float64
 3   sibsp        712 non-null    int64
 4   parch        712 non-null    int64
 5   fare         712 non-null    float64
 6   embarked     710 non-null    object
 7   class        712 non-null    category
 8   who          712 non-null    object
 9   adult_male   712 non-null    bool
 10  deck         164 non-null    category
 11  embark_town  710 non-null    object
 12  alive        712 non-null    object
 13  alone        712 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(3), object(5)
memory usage: 64.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 3 to 608
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  712 non-null    int64
dtypes: int64(1)
memory usage: 11.1 KB

In [104]:
x_train.isnull().sum() # age, deck

pclass           0
sex              0
age            133
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           548
embark_town      2
alive            0
alone            0
dtype: int64

In [108]:
x_train.head()[['age','deck']]

      age deck
3    35.0    C
517   NaN  NaN
861  21.0  NaN
487  58.0    B
58    5.0  NaN

In [120]:
Median = x_train['age'].median()
x_train['age'] = x_train['age'].fillna(Median)
Mode = x_train['deck'].mode()
x_train['deck'] = x_train['deck'].fillna(Mode[0])
Mode = x_train['embarked'].mode()
x_train['embarked'] = x_train['deck'].fillna(Mode[0])
Mode = x_train['embarked'].mode()
x_train['embark_town'] = x_train['embark_town'].fillna(Mode[0])

In [121]:
Median = x_test['age'].median()
x_test['age'] = x_test['age'].fillna(Median)
Mode = x_test['deck'].mode()
x_test['deck'] = x_test['deck'].fillna(Mode[0])
Mode = x_test['embarked'].mode()
x_test['embarked'] = x_test['deck'].fillna(Mode[0])
Mode = x_test['embarked'].mode()
x_test['embark_town'] = x_test['embark_town'].fillna(Mode[0])

In [123]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 800 to 410
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pclass       179 non-null    int64
 1   sex          179 non-null    object
 2   age          179 non-null    float64
 3   sibsp        179 non-null    int64
 4   parch        179 non-null    int64
 5   fare         179 non-null    float64
 6   embarked     179 non-null    category
 7   class        179 non-null    category
 8   who          179 non-null    object
 9   adult_male   179 non-null    bool
 10  deck         179 non-null    category
 11  embark_town  179 non-null    object
 12  alive        179 non-null    object
 13  alone        179 non-null    bool
dtypes: bool(2), category(3), float64(2), int64(3), object(4)
memory usage: 15.7+ KB

In [124]:
from sklearn.model_selection import train_test_split

In [125]:
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, stratify=y_train['target'], random_state=2023, test_size=0.2)

In [128]:
x_train.shape, x_val.shape, y_train.shape, y_val.shape

((569, 14), (143, 14), (569, 1), (143, 1))

In [133]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)
x_val = pd.get_dummies(x_val)

In [134]:
from sklearn.ensemble import RandomForestClassifier

In [135]:
model= RandomForestClassifier()
model.fit(x_train, y_train)

C:\Users\newny\AppData\Local\Temp\ipykernel_17684\2192591497.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

RandomForestClassifier()

In [132]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [136]:
y_pred = model.predict(x_val)

In [137]:
from sklearn.metrics import f1_score

In [138]:
f1_score(y_val, y_pred)

1.0