In [1]:
import pandas as pd
import numpy as np

In [2]:
#	문제	1
#	mpg	변수의 제	1사분위수를 구하고 반올림하여 정수값으로 출력하시오.
df	=	pd.read_csv("mtcars.csv")

In [3]:
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
q1 = df['mpg'].quantile(.25)
print(round(q1))

15

In [6]:
#	문제	2
#	mpg	값이	19이상	21이하인 데이터의 수를 구하시오.
df	=	pd.read_csv("mtcars.csv")

In [9]:
cond1 = df['mpg'] >=19
cond2 = df['mpg'] <=21

In [11]:
len(df[cond1 & cond2])

5

In [12]:
#	문제	3
#	hp	변수의	IQR	값을 구하시오.
df	=	pd.read_csv("mtcars.csv")

In [14]:
q1 = df['hp'].quantile(.25)
q3 = df['hp'].quantile(.75)
iqr = q3-q1

In [15]:
print(iqr)

83.5

In [16]:
#	문제	4
#	wt	변수의 상위	10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.	
df	=	pd.read_csv("mtcars.csv")

In [23]:
# df.sort_values()
help(df.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by: 'IndexLabel', *, axis: 'Axis' = 0, ascending: 'bool | list[bool] | tuple[bool, ...]' = True, inplace: 'bool' = False, kind: 'str' = 'quicksort', na_position: 'str' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc' = None) -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels.
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.

         .. versionadded:: 1.0.0

    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...    by="time",
    ...    key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

In [26]:
df = df.sort_values(by=['wt'], ascending=False)

In [28]:
print(round(df['wt'].head(10).sum()))

42

In [29]:
# 문제5
#	전체 자동차에서	cyl가	6인 비율이 얼마인지 반올림하여 소수점 첫째자리까지 출력하시오.
df	=	pd.read_csv("mtcars.csv")

In [35]:
cond = df['cyl'] == 6
round(len(df[cond]) / len(df), 1)

0.2

In [36]:
#	문제	6
#	첫번째 행부터 순서대로	10개 뽑은 후	mpg	열의 평균값을 반올림하여 정수로 출력하시오.	
df	=	pd.read_csv("mtcars.csv")

In [40]:
print(round(df.head(10)['mpg'].mean()))

20

In [41]:
#	문제	7
#	첫번째 행부터 순서대로	50%까지 데이터를 뽑아	wt	변수의 중앙값을 구하시오.
df	=	pd.read_csv("mtcars.csv")

In [43]:
df.head(len(df)//2)['wt'].median()

3.44

In [45]:
#	문제	8	
#	결측값이 있는 데이터의 수를 출력하시오.	
#	데이터 생성(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [50]:
print(df.isnull().sum().sum())

5

In [51]:
#	문제	9
#	'판매수'	컬럼의 결측값을 판매수의 중앙값으로 대체하고
#		판매수의 평균값을 반올림하여 정수로 출력하시오.	

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [57]:
sell_median = df['판매수'].median()

df['판매수'] = df['판매수'].fillna(sell_median)
round(df['판매수'].mean())

15

In [69]:
#	문제	10
#	판매수 컬럼에 결측치가 있는 행을 제거하고,
#	첫번째 행부터 순서대로	50%까지의 데이터를 추출하여
#	판매수 변수의	Q1(제1사분위수)값을 반올림하여 정수로 출력하시오

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [82]:
df = df['판매수'].dropna()

KeyError: '판매수'

In [85]:
round(df.head(len(df)//2).quantile(.25))

5

In [86]:
#	문제	11
#	cyl가	4인 자동차와	6인 자동차 그룹의	mpg	평균값 차이를 절대값으로 반올림하여 정수로 출력하시오.
df	=	pd.read_csv("mtcars.csv")

In [98]:
cyl4 = df.groupby(['cyl'])['mpg'].mean().loc[4]
cyl6 = df.groupby(['cyl'])['mpg'].mean().loc[6]
round(abs(cyl4-cyl6))

7

In [99]:
#	문제	12
#	hp	변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오.
#	(단,	이상치는	Z값이	1.5를 초과하거나	-1.5	미만인 값이다)
df	=	pd.read_csv("mtcars.csv")

In [118]:
mean = df['hp'].describe().loc['mean']
std = df['hp'].describe().loc['std']

In [121]:
df['hp'] = (df['hp'] - mean ) / std

In [123]:
cond1 = df['hp'] > 1.5
cond2 = df['hp'] < -1.5

In [124]:
len(df['hp'][cond1 | cond2])

2

In [126]:
#	문제	13
#	mpg	컬럼을 최소최대	Scaling을 진행한 후	0.7보다 큰 값을 가지는 레코드 수를 구하라.
df	=	pd.read_csv("mtcars.csv")

In [128]:
df['mpg'].head()

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [134]:
Max = df['mpg'].max()
Min = df['mpg'].min()

In [135]:
df['mpg'] = (df['mpg'] - Min) / (Max - Min)

In [137]:
cond1 = df['mpg'] > 0.7

In [138]:
len(df[cond1])

5

In [139]:
#	문제	14
#	wt컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.	
df	=	pd.read_csv("mtcars.csv")

In [144]:
q1 = df['wt'].quantile(.25)
q3 = df['wt'].quantile(.75)
iqr = q3-q1

In [146]:
Max = q3 + 1.5 * iqr
Min = q1 - 1.5 * iqr

In [147]:
cond1 = df['wt'] > Max
cond2 = df['wt'] < Min

In [149]:
len(df[cond1 | cond2])

3

In [151]:
#	문제	15
#	판매수 컬럼의 결측치를 최소값으로 대체하고
#	결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값으로 반올림하여 정수로 출력하시오

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [158]:
Min = df['판매수'].min()
df['판매수'].isnull().sum()
Avg = df['판매수'].mean()
Avg

15.8

In [162]:
Avg2 = df['판매수'].fillna(Min).mean()

In [163]:
print(round(abs(Avg-Avg2)))

2

In [165]:
#	문제	16
#	vs변수가	0이 아닌 차량 중에	mpg	값이 가장 큰 차량의	hp	값을 출력하시오.		
df	=	pd.read_csv("mtcars.csv")

In [179]:
cond = df['vs'] !=0
cond2 = df['mpg'][cond].max() == df['mpg']
df[cond2]['hp'].iloc[0]

65

In [181]:
#	문제	17
#	gear	변수값이	3,	4인 두 그룹의	hp	표준편차값의 차이를 절대값으로
#	반올림하여 소수점 첫째자리까지 출력하시오.	
df	=	pd.read_csv("mtcars.csv")

In [208]:
cond1 = df['gear'] == 3
cond2 = df['gear'] == 4
std1 = df[cond1]['hp'].std()
std2 = df[cond2]['hp'].std()
print(round(abs(std1-std2), 1))

21.8

In [209]:
#	문제	18
#	gear	변수의 값별로 그룹화하여	mpg평균값을 산출하고
#	평균값이 높은 그룹의	mpg	제3사분위수 값을 구하시오.
df	=	pd.read_csv("mtcars.csv")

In [229]:
group_mean = df.groupby(['gear'])['mpg'].mean() 
group_mean
# gear == 4

gear
3    16.106667
4    24.533333
5    21.380000
Name: mpg, dtype: float64

In [230]:
df[df['gear'] == 4]['mpg'].quantile(.75)

28.075

In [248]:
#	문제	19
#	hp	항목의 상위	7번째 값으로 상위	7개 값을 변환한 후,
#	hp가	150	이상인 데이터를 추출하여	hp의 평균값을 반올림하여 정수로 출력하시오.
df	=	pd.read_csv("mtcars.csv")

In [249]:
top7 = df.sort_values(['hp'], ascending=False)['hp'].head(7).iloc[-1]

In [250]:
# condition, true : x, false : y
df['hp'] = np.where(df['hp'] >= top7, top7, df['hp'])

In [252]:
cond = df['hp'] >= 150
round(df[cond]['hp'].mean())

187

In [253]:
#	문제	20
#	car변수에	Merc	문구가 포함된 자동차의	mpg	평균값을 반올림하여 정수로 출력하시오.
df	=	pd.read_csv("mtcars.csv")

In [257]:
cond_Merc = df['car'].str.contains('Merc')
round(df[cond_Merc]['mpg'].mean())

19

In [299]:
#	문제	21
#	'22년	1분기 매출액을 구하시오
#	(매출액	=	판매수*개당수익)

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })


df['매출액'] = df['판매수'] * df['개당수익']

In [300]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      12 non-null     object
 1   제품      12 non-null     object
 2   판매수     12 non-null     int64
 3   개당수익    12 non-null     int64
 4   매출액     12 non-null     int64
dtypes: int64(3), object(2)
memory usage: 612.0+ bytes

In [301]:
#dates = pd.to_datetime(['2018-01-01', '2018-01-01',
#  |      ...                         '2018-01-02', '2018-01-02'])
df['날짜'] = pd.to_datetime(df['날짜'])

In [302]:
cond = df['날짜'].between('20220101', '20220331')

In [304]:
df[cond]['매출액'].sum()

11900

In [305]:
#	문제	23
#	'23년 총 매출액이 큰 제품의	23년 판매수를 구하시오.
#	(매출액	=	판매수*개당수익)

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })


df['매출액'] = df['판매수'] * df['개당수익']

In [306]:
df['날짜'] = pd.to_datetime(df['날짜'])

In [308]:
cond = df['날짜'].between('20230101', '20231231')

In [313]:
df[cond].groupby(['제품']).sum() # A
df[cond][df['제품'] == 'A']['판매수'].sum()

C:\Users\newny\AppData\Local\Temp\ipykernel_4120\1011573798.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[cond].groupby(['제품']).sum() # A
C:\Users\newny\AppData\Local\Temp\ipykernel_4120\1011573798.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[cond][df['제품'] == 'A']['판매수'].sum()

80

In [316]:
#	문제	24
#	매출액이	4천원 초과,	1만원 미만인 데이터 수를 출력하시오.	
#	(매출액	=	판매수*개당수익)
#	데이터 생성(수정금지)

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })


df['매출액'] = df['판매수'] * df['개당수익']

In [317]:
cond1 = df['매출액'] > 4000
cond2 = df['매출액'] < 10000

In [319]:
len(df[cond1 & cond2])

4

In [324]:
#	문제	25
#	23년	9월	24일	16:00~22:00	사이에 전체 제품의 판매수를 구하시오.	

# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

In [335]:
df = df.reset_index()

In [337]:
df['time'] = pd.to_datetime(df['time'])

In [339]:
df.head()

   index                time 물품  판매수  개당수익
0      0 2023-09-24 12:25:00  A    5   500
1      1 2023-09-24 16:48:25  B   10   600
2      2 2023-09-24 21:11:50  A   15   500
3      3 2023-09-25 01:35:15  B   15   600
4      4 2023-09-25 05:58:40  A   20   600

In [341]:
# 23년	9월	24일	16:00~22:00	
cond = df['time'].between('2023-09-24 16:00:00','2023-09-24 22:00:00')
df[cond]['판매수'].sum()

25

In [342]:
#	문제	26
#	9월	25일	00:00~12:00	까지의	B물품의 매출액 총합을 구하시오.
#	(매출액	=	판매수*개당수익)
#	시간 데이터 만들기(수정금지)
df	=	pd.DataFrame( {
				'물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
				'판매수': [5, 10, 15, 15, 20, 25, 40],
				'개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] =	pd.date_range('2023-09-24	12:25:00','2023-09-25	14:45:30',	periods= 7)
df	=	df[ ['time','물품','판매수','개당수익'] ]
df	=	df.set_index('time',	drop=True)

                    물품  판매수  개당수익
time
2023-09-24 12:25:00  A    5   500
2023-09-24 16:48:25  B   10   600
2023-09-24 21:11:50  A   15   500
2023-09-25 01:35:15  B   15   600
2023-09-25 05:58:40  A   20   600
2023-09-25 10:22:05  B   25   700
2023-09-25 14:45:30  A   40   600

In [348]:
# df = df.reset_index()
df['time'] = pd.to_datetime(df['time'])
df.head()

   level_0  index                time 물품  판매수  개당수익
0        0      0 2023-09-24 12:25:00  A    5   500
1        1      1 2023-09-24 16:48:25  B   10   600
2        2      2 2023-09-24 21:11:50  A   15   500
3        3      3 2023-09-25 01:35:15  B   15   600
4        4      4 2023-09-25 05:58:40  A   20   600

In [351]:
cond = df['time'].between('2023-09-25 00:00:00', '2023-09-25 12:00:00')
cond2 = df['물품'] == 'B'

In [352]:
df['매출액'] = df['판매수'] * df['개당수익']
df[cond & cond2]['매출액'].sum()

26500

In [363]:
#	문제	27
#	9월	24일	12:00~24:00	까지의	A물품의 매출액 총합을 구하시오.
#	(매출액	=	판매수*개당수익)
#	시간 데이터 만들기(수정금지)
df	=	pd.DataFrame( {
				'물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
				'판매수': [5, 10, 15, 15, 20, 25, 40],
				'개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] =	pd.date_range('2023-09-24	12:25:00','2023-09-25	14:45:30',	periods= 7)
df	=	df[ ['time','물품','판매수','개당수익'] ]
df	=	df.set_index('time',	drop=True)

In [364]:
df = df.reset_index()

In [365]:
df['time'] = pd.to_datetime(df['time'])

In [367]:
cond = df['time'].between('2023-09-24 00:00:00', '2023-09-25 00:00:00')
cond2 = df['물품'] == 'A'

In [368]:
df['매출액'] = df['판매수'] * df['개당수익']
df[cond & cond2]['매출액'].sum()

10000